.photo{
	border: 6px groove;
	width: 200px;
	position: absolute; top:40px; left:20px;
}
span{
	padding: 5px;
	background-color: blue; color:white;
	border-radius: 10px 15px; border: 5px ridge blue;
	cursor: pointer;
}
#container{padding: 5px;}
