input[type=image] {height: 40px; margin-top: 15px;}
div {
	vertical-align: top; width: 300px; height: auto;
	display: inline-block; padding: 20px; margin: 5px;
	border-radius: 10px; border: 1px solid;
}
label {background-color: blue; color: white; border-radius: 8px; padding: 5px;}
p {margin: 5px; padding: 3px; background-color: #dddddd; border-radius: 8px;}