div {
	width: 200px;
	text-align: center;
}
#title, #handle, #footer {
	background-color: blue;
	color: white;
	font-weight: bold;
}
#handle {
	display: inline-block;
	width: 15px;
	float: left;
	background-color: black;
	cursor: pointer;
}
#footer {
	font-size: 10px;
	background-color: black;
	margin-top: -5px;
}
