img{
	display: inline-block; width: 100px; height: .1px;
	margin: 0px; padding: 0px; float: left;
}
p, span {
	display: inline-block; width: 400px;
	background-color: black; color: white;
	margin: 0px; padding: 0px; text-align: center;
	cursor: default;
}
span {
	width: 100px; margin: -1px;
	border: 1px solid; background-color: blue; float:left;
}
